.home {
  /* width: 500px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-container p {
  /* display: inline-block; */
  text-align: center;
  width: 80%;
  color: rgb(70, 66, 66);
}

.home-container h1 {
  font-size: 40px;
  color: coral;
}

.Home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}

.home-container button {
  background-color: rgb(72, 33, 180);
  color: antiquewhite;
  width: 10%;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  border: none;
}

.home-btn button {
  background-color: cornflowerblue;
  width: 12%;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  /* padding: ; */
}
